body{
    background-color:  lightgreen;
    padding: 1.5rem;
}

#container{
    display: grid;
    grid-template-columns: auto;
    grid-gap: 2rem;
}

.panelgrid{
    padding: 1rem;
    background-color:  darkseagreen;
    display: grid;
    grid-template-columns: 35% 65%;
}

.panelgrid img{
    height: 4rem;
}

.intopanel{
    border-right: 1px solid black;
}

.intopanel2{
    padding-left: 2rem;
}

.back{
    text-align: left;
}

.back img{
    padding-left: 1rem;
    height: 4rem;
}

p{
    font-size: 1.1rem;
}

/* 590 and less */

@media (max-width:590px) {
  
    h2{
        font-size: 85%;
    }

    h3{
        font-size: 85%;
    }

    p{
        font-size: 0.8rem;
    }
}