body {
    background: url("/static/texture_dirty_gold.jpg") no-repeat center center/cover;
}

.logo_image {
    height: 50px;
    width: 50px;
}

.logout {
    background-color: grey;
    border-radius: 0.3rem;
    padding: 0.3rem;
    color: white;
    text-decoration: none;
}

.top_navigation_bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.top_navigation_bar_item {
    display: inline;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.second_navigation_bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gray;

}

.second_navigation_bar_item {
    display: inline;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
    font-style: oblique;
}

.second_navigation_bar_item:hover {
    background-color: #04AA6D;
}

.second_nav_href {
    text-decoration: none;
    color: white;
}

.icon {
    margin-top: 0.4rem;
    margin-left: 0.4rem;
    height: 20px;
    width: 20px;
}

.mid_text {
    margin-top: 4rem;
    font-size: 20px;
    text-align: center;
}

.s-title {
    color: black;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.show {
    text-align: center;
    position: fixed;
    visibility: unset;
    margin-top: 20px;
}

.hide {
    visibility: hidden;
}

.btn {
    color: #fff;
    background: #55a1ff;
    border: 0;
    outline: 0;
    width: 20%;
    height: 2.9rem;
    font-size: 1.2rem;
    text-align: center;
    cursor: pointer;
    margin: 2rem auto;
}

.input_padding {
    padding: 0.6rem;
    width: 25%;
}

.input_padding:focus {
    background: rgb(236, 236, 236);
}


table,
th,
td {
    border: 1px solid black;
}

table {
    margin-top: 2rem;
    text-align: center;
    width: 100%;
    font-size: 1.2rem;
}