.show {
    text-align: center;
    position: fixed;
    visibility: unset;
    margin-top: 20px;
}

.hide {
    visibility: hidden;
}

.selection {
    margin-top: 20px;
    text-align: center;
}

.btn {
    color: #fff;
    background: #55a1ff;
    border: 0;
    outline: 0;
    width: 20%;
    height: 2.9rem;
    font-size: 1.2rem;
    text-align: center;
    cursor: pointer;
    margin: 0.8rem auto;
}