.Note {
    background-color: yellow;
    height: 250px;
    width: 1340px;
    border: 5px solid;
    font-size: 20px;
    text-align: center;
}

.Note_header {
    color: red;
    text-decoration: underline;
}

.mail_for_certificate {
    font-size: 20px;
    text-align: center;
}

.input_mail_for_certificate {
    padding: 10px 20px;
    width: 20%;
    border-color: red;
}

.input_mail_for_certificate:focus {
    background: silver;
}

.submit_button {
    font-size: 20px;
    text-align: center;
}

.submit_button_real {
    padding: 10px 30px;
    background-color: lightgreen;
}