<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel</title>
    <link rel="shortcut icon" type="image" href="{{url_for('static',filename='icon.png')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='more.css')}}">
</head>
<body style="background-color:  #6d7175;" >
    <div style="grid-gap: 4rem;" id="container">
        <div style="background-color:  #bccfd1; box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 15px; border-radius: 0.6rem;" class="panelgrid">
            <div class="intopanel">
                <img style="height: 6rem;" src="{{url_for('static',filename='vishmay.png')}}" alt="Not Found">
                <h2>Chairman</h2>
                <h3>Vishmay Karbotkar</h3>
            </div>
            <div class="intopanel2">
                <p>Experiance in this company - 9 Years</p>
                <p>Vishmay is a recognized expert in standards-based web development and design systems. His background as a software engineer and website designer gives him a valuable balance of technical skill and creativity, which shapes our perspective as a team and influences many of our client projects. Vishmay's leadership and dedication to fostering a healthy culture have been a big part of making Chrysos what it is today.</p>
                <p><a href="https://www.linkedin.com/in/vishmay-karbotkar-191249195/">Linkedin</a></p>
                <p><a href="https://github.com/vishmay-k">Github</a></p>
                <p><a href="https://www.facebook.com/vishmay.karbotkar">Facebook</a></p>
            </div>
        </div>
        <div style="background-color: lightgreen; box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 15px; border-radius: 0.6rem;" class="panelgrid">
            <div class="intopanel">
                <img style="height: 6rem;" src="{{url_for('static',filename='satyam.png')}}" alt="Not Found">
                <h2>Chief Executive Officer</h2>
                <h3>Satyam Mahale</h3>
            </div>
            <div class="intopanel2">
                <p>Experiance in this company - 9 Years</p>
                <p>Satyam is a developer and consultant who found his way into running a web business. He got his start in software architecture and enterprise consulting and throughout his career has tackled issues of security, scalability, and performance. Today, he's responsible for Chrysos's operations, but he's really in the business of making all of us better. His commitment to innovation and iteration are present in all that we do.</p>
                <p><a href="https://www.facebook.com/satyam.mahald">Facebook</a></p>
            </div>
        </div>
        <div style="background-color:  #bccfd1; box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 15px; border-radius: 0.6rem;" class="panelgrid">
            <div class="intopanel">
                <img style="height: 6rem;" src="{{url_for('static',filename='virendra.png')}}" alt="Not Found">
                <h2>Chief Operations Officer</h2>
                <h3>Virendra Salgaonkar</h3>
            </div>
            <div class="intopanel2">
                <p>Experiance in this company - 6 Years</p>
                <p>Virendra graduated from St Xaviers College with a Bachelor degree in computer science. He spent several years working as a freelance designer and several more heading design teams for independent web consultancies. He brings immense ampunt of experiance on the table.</p>
                <p><a href="https://www.facebook.com/virendra.salgaonkar.3">Facebook</a></p>
            </div>
        </div>
        <div style="background-color: lightgreen; box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 15px; border-radius: 0.6rem;" class="panelgrid">
            <div class="intopanel">
                <img style="height: 6rem;" src="{{url_for('static',filename='rahul.png')}}" alt="Not Found">
                <h2>Chief Financial Officer</h2>
                <h3>Rahul Malviya</h3>
            </div>
            <div class="intopanel2">
                <p>Experiance in this company - 7 Years</p>
                <p>Rahul's background in mathmethics gives him a sophisticated grasp on even the most theoretical aspects of how to handle his division of financial administration. He has developed his own ways of dealing with the tough times and helps in building this company to what it is today.</p>
                <p><a href="https://www.facebook.com/profile.php?id=100022666184154">Facebook</a></p>
            </div>
        </div>
        <div style="background-color: lightgreen; background-color:  #bccfd1; box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 15px; border-radius: 0.6rem;" class="panelgrid">
            <div class="intopanel">
                <img style="height: 6rem;" src="{{url_for('static',filename='baban.png')}}" alt="Not Found">
                <h2>Chief Administrative Officer</h2>
                <h3>Baban Gawas</h3>
            </div>
            <div class="intopanel2">
                <p>Experiance in this company - 5 Years</p>
                <p>Baban is the brain behind all the administration stuff. He enjoyes ensuring that al the things run smoothly. I have a great passion for cars, bikes and in tech and spends hours into them.</p>
                <p><a href="https://www.facebook.com/baban.gawas.14">Facebook</a></p>
            </div>
        </div>
        <div style="background-color: lightgreen; box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 15px; border-radius: 0.6rem;" class="panelgrid">
            <div class="intopanel">
                <img style="height: 6rem;" src="{{url_for('static',filename='aryan.png')}}" alt="Not Found">
                <h2>Chief Technology Officer</h2>
                <h3>Aryan Kushwah</h3>
            </div>
            <div class="intopanel2">
                <p>Experiance in this company - 4 Years</p>
                <p>Aryan worked as a developer and as project manager on wide range of websites, becoming an expert in the process. He has also worked on various independent projects and has earned himself a seat to this panel with his mastery on technical aspects.</p>
                <p><a href="https://www.facebook.com/aryan.kushwaha.982">Facebook</a></p>
            </div>
        </div>
        <div style="background-color:  #bccfd1; box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 15px; border-radius: 0.6rem;" class="panelgrid">
            <div class="intopanel">
                <img style="height: 6rem;" src="{{url_for('static',filename='prathmesh.png')}}" alt="Not Found">
                <h2>Chief Marketing Officer</h2>
                <h3>Prathmesh Salgaonkar</h3>
            </div>
            <div class="intopanel2">
                <p>Experiance in this company - 3 Years</p>
                <p>After graduating from the St Xaviers College with a degree in computer science, Prathmesh has spend time working as an interactive designer/developer in the advertising industry and now brings his experience to the Chrysos.</p>
                <p>In his free time, Prathmesh enjoys running marathons, open source technology and bingeing shows.</p>
                <p><a href="https://www.facebook.com/prathamesh.salgaonkar.982">Facebook</a></p>
            </div>
        </div>
        <div style="background-color: lightgreen; box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 15px; border-radius: 0.6rem;" class="panelgrid">
            <div class="intopanel">
                <img style="height: 6rem;" src="{{url_for('static',filename='ashbel.png')}}" alt="Not Found">
                <h2>Chief Human Resource Officer</h2>
                <h3>Ashbel Teles</h3>
            </div>
            <div class="intopanel2">
                <p>Experiance in this company - 5 Years</p>
                <p>With years of experiance in number of tech companies Ashbel brings a lot of skill to the HR department. His competitiveness is legendary, to the point of comming to the office while on holidays to defending his ping pong ranking.</p>
                <p><a href="https://www.facebook.com/ashbel.teles">Facebook</a></p>
            </div>
        </div>
        <div style="background-color:  #bccfd1; box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 15px; border-radius: 0.6rem;" class="panelgrid">
            <a href="/main" class="nodec back">
                <img style="height: 3rem;" src="{{url_for('static',filename='back.png')}}" alt="Not Found">
            </a>
        </div>
    </div>
</body>
</html>