<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chrysos</title>
    <link rel="shortcut icon" type="image" href="{{ url_for('static',filename='icon.png')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='login_style.css')}}">
</head>

<body>
    <div>
        <ul class="top_navigation_bar">
            <li class="top_navigation_bar_item">
                <a href="#">
                    <img class="logo_image" src="{{url_for('static',filename='icon.png')}}">
                </a>
            </li>
            <li class="top_navigation_bar_item">{{session.username}} <!-- place to insert username -->
            </li>
            <li style="float: right; padding: 0.9rem;">
                <a class="logout" href="/logout">LOGOUT</a>
            </li>
            <!-- THIS is button to bring you to Login page-->
        </ul>

        <br>
        <ul class="second_navigation_bar">
            <li class="second_navigation_bar_item">
                <a href="/UP" class="second_nav_href">PROFILE </a>
            </li>
            <li class="second_navigation_bar_item">
                <a href="/sell" class="second_nav_href">SELL </a>
            </li>
            <li class="second_navigation_bar_item" style="background-color: #04AA6D;">
                <a href="/buy" class="second_nav_href">BUY </a>
            </li>
            <li class="second_navigation_bar_item">
                <a href="/certificate" class="second_nav_href">E-CERTIFICATE </a>
            </li>
            <li class="second_navigation_bar_item">
                <a href="/HD" class="second_nav_href">HOME DELIVERY </a>
            </li>
        </ul>
    </div>

    <h3 style="text-align: center; ">SELECT THE TYPE OF GOLD YOU WANT TO INVEST IN</h3>

    <hr width="100%">
    <div id="selection" class="mid_text">
        <button id="24k" value="24k" class="buy_button">24k</button>
        <button id="22k" value="22k" class="buy_button">22k</button>
        <button id="21k" value="21k" class="buy_button">21k</button>
        <button id="18k" value="18k" class="buy_button">18k</button>

        <div id="24k_para" class="show"><b>24K GOLD</b>
            <p>24k Gold is also called pure gold or 100 per cent gold. This means that all 24 parts in the gold are all pure gold without traces of any other metals. It is known to be 99.9 per cent pure and takes on a distinct bright yellow color.</p>
            <div id="k24_investment">
                <div id="k24_investment_weight">
                    <a href="/24k"><button class="btn">BUY 24K GOLD</button></a>
                </div>
            </div>
        </div>
        <div id="22k_para" class="hide"><b>22K GOLD</b>
            <p>The 22 Karat gold is mostly used in making jewellery. In 22K gold, 22 parts of the metal are gold and rest two comprises of metals like silver, zinc, nickel, and other alloys. It is also known as 91.67 per cent pure gold. Mixing alloys makes the texture of gold harder and hence jewellery becomes durable.</p>
            <div id="k22_investment">
                <div id="k22_investment_weight">
                    <a href="/22k"><button class="btn">BUY 22K GOLD</button></a>
                </div>
            </div>
        </div>
        <div id="21k_para" class="hide"> <b>21K GOLD</b>
            <p>21K gold contains one or more alloys. These are metals such as copper, silver, or palladium that are amalgamated with pure gold. The use of copper gives a reddish tint to the gold; jewelry makers can use other metals to create rare blue or purple gold.</p>
            <div id="k21_investment">
                <div id="k21_investment_weight">
                    <a href="/21k"><button class="btn">BUY 21K GOLD</button></a>
                </div>
            </div>
        </div>
        <div id="18k_para" class="hide"><b>18K GOLD</b>
            <p>The 18 Karat gold comprises of 75% gold mixed with 25% of other metals such as copper, silver, and other alloys. This type of gold is used to make stone studded jewellery and other diamond jewellery. It is less expensive compared to 24K and 22K gold. All the gold coins, bars or jewellery has its purity marked into it.</p>
            <div id="k18_investment">
                <div id="k18_investment_weight">
                    <a href="/18k"><button class="btn">BUY 18K GOLD</button></a>
                </div>
            </div>
        </div>
    </div>


    <script src="{{ url_for('static',filename='jq1.js')}}"></script>
    <script src="{{url_for('static',filename='OGI_BUY.js')}}"></script>

</body>

</html>