<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chrysos</title>
    <link rel="shortcut icon" type="image" href="{{ url_for('static',filename='icon.png')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='OGI_CERTIFY.css')}}">
</head>
<body>
    <div >
        <ul class="top_navigation_bar">
            <li class="top_navigation_bar_item"><a href="#"><img class="logo_image" src="{{url_for('static',filename='OLG-logo.jpeg')}}"></a></li>
            <li class="top_navigation_bar_item">{{session.username}} <!-- place to insert username --></li>
            <li style="float: right; padding: 0.9rem;"><a style="background-color: grey; border-radius: 0.3rem; padding: 0.3rem; color: white; text-decoration: none;" href="/logout">LOGOUT</a></li>
            <!-- THIS is button to bring you to Login page-->        
        </ul>
        
        <hr style="width: 80%;">
        <ul class="second_navigation_bar">
            <li class="second_navigation_bar_item"><a href="/home" style="text-decoration: none;  color: white;">HOME <img class="home_icon" src="{{ url_for('static',filename='home.png')}}"></a></li>
            <li class="second_navigation_bar_item"><a href="/sell" style="text-decoration: none;  color: white;">SELL <img class="sell_icon" src="{{url_for('static',filename='sell.png')}}"></a></li>
           <li class="second_navigation_bar_item"><a href="/buy" style="text-decoration: none; color: white;">BUY <img class="buy_icon" src="{{url_for('static',filename='buy_icon.jpeg')}}"></a></li>
           <li class="second_navigation_bar_item_certificate"><a href="/certificate" style="text-decoration: none; color: white;">E-CERTIFICATE <img class="e_cetificate_icon" src="{{url_for('static',filename='e_certificate.jpeg')}}"></a></li>
           <li class="second_navigation_bar_item"><a href="/HD" style="text-decoration: none; color: white;">HOME DELIVERY <img class="delivery_icon" src="{{url_for('static',filename='home_delivery.webp')}}"></a></li>
           <li class="second_navigation_bar_item"><a href="/UP" style="text-decoration: none; color:white;">USER PROFILE <img class="user_icon" src="{{ url_for('static',filename='user_icon.jpeg')}}"></a></li>

        </ul>
    </div>

    <div class="Note">
        <h2 class="Note_header">NOTE</h2>
        <p>This certificate is only valid if you invest in Digital Gold form our websites.The use of this certificate will be as security while providing you loan .You make sure if you have this certificate you should have some gold in your resrves,if you don't have any(you have selled all your shares) then this is of no use.</p>
        <p>Kindly provide your mail to us we will send you certificate in PDF format</p>
    </div>

    
    <div class="submit_button ">
        <form action="" method="POST">
                <p>Enter your mail here:<input name="usermail" class="input_mail_for_certificate" id="input_mail_for_certificate"  type="text"></p>
        
        <input class="submit_button_real" id="submit_button_real"  onclick="show_alert_box()" type="submit" value="SUBMIT">
        </form>
    </div>

<script src="{{url_for('static',filename='OGI_CERTIFY.js')}}"></script>
</body>
</html>