<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chrysos</title>
    <link rel="shortcut icon" type="image" href="{{ url_for('static',filename='icon.png')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='login_style.css')}}">
</head>

<body>
    <div>
        <ul class="top_navigation_bar">
            <li class="top_navigation_bar_item">
                <a href="#">
                    <img class="logo_image" src="{{url_for('static',filename='icon.png')}}">
                </a>
            </li>
            <li class="top_navigation_bar_item">{{session.username}} <!-- place to insert username -->
            </li>
            <li style="float: right; padding: 0.9rem;">
                <a class="logout" href="/logout">LOGOUT</a>
            </li>
            <!-- THIS is button to bring you to Login page-->
        </ul>

        <hr style="width: 80%;">
        <ul class="second_navigation_bar">
            <li class="second_navigation_bar_item">
                <a href="/sell" class="second_nav_href">SELL </a>
                <img class="icon" src="{{url_for('static',filename='sell.png')}}">
            </li>
            <li class="second_navigation_bar_item">
                <a href="/buy" class="second_nav_href">BUY </a>
                <img class="icon" src="{{url_for('static',filename='buy_icon.jpeg')}}">
            </li>
            <li class="second_navigation_bar_item">
                <a href="/certificate" class="second_nav_href">E-CERTIFICATE </a>
                <img class="icon" src="{{url_for('static',filename='e_certificate.jpeg')}}">
            </li>
            <li class="second_navigation_bar_item" style="background-color: #04AA6D;">
                <a href="/HD" class="second_nav_href">HOME DELIVERY </a>
                <img class="icon" src="{{url_for('static',filename='home_delivery.webp')}}">
            </li>
            <li class="second_navigation_bar_item">
                <a href="/UP" class="second_nav_href">USER PROFILE</a>
                <img class="icon" src="{{ url_for('static',filename='user_icon.jpeg')}}">
            </li>
        </ul>
    </div>


    <div class="mid_text">
        <form action="" method="POST">
            <p>Enter your Address here :
                <input class="input_padding" type="text" name="address">
            </p>
            <input class="btn" type="submit" value="SUBMIT">
        </form>
    </div>
</body>

</html>