<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Confirmation</title>
    <link rel="shortcut icon" type="image" href="{{url_for('static',filename='icon.png')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='confirmation.css')}}">
</head>

<body>
    <div class="container">
        <h1 class="heading">Your Payment Was Successful</h1>
        <div class="gridx">
            <img src="{{url_for('static',filename='tick.png')}}" alt="Not Found">
            <h2>Thanks! For trusting us</h2>
        </div>
        <a href="/UP"><button class="btn">Home</button></a>
    </div>
</body>

</html>